* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s;
  padding:  0px 170px;
  z-index: 1000;
  background-color: #fff;
}

header.sticky {
    padding: -5px 100px;
    background-color: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
}

header.sticky .logo,
header.sticky ul li a {
  color: #292E33;
}

header .logo {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  font-size:2em;
  letter-spacing: 0.3px;
  transition: 0.6s;
  color: #292E33;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

header .logo::first-letter{
    color: #89d0ca;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  justify-content: center;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: .5s;
  font-family: 'Poppins', sans-serif;
}

header ul li .signup {
  width: 150px;
  border: 1px solid #89d0ca;
  border-radius: 8px;
  height: 40px;
  margin-left: 15px;
  font-weight: 700;
  font-size:0.95em;
  cursor: pointer;
  background-color: #fff;
  color: #89d0ca;
  transition: .5s;
  box-shadow: 0 1px 3px -2px #9098a9;
}

header ul li .login {
  background-color: #89d0ca;
  color: #fff;
  width: 150px;
  border: 1px solid #89d0ca;
  border-radius: 8px;
  height: 40px;
  margin-left: 30px;
  font-weight: 700;
  font-size:0.95em;
  cursor: pointer;
  color: #fff;
  transition: .5s;
  box-shadow: 0 1px 3px -2px #9098a9;
}

header ul li:hover .login{
  background-color: rgba(137,208,208, 0.60);
  border: 1px solid rgba(137,208,208, 0.60);
}

header ul li:hover .signup{
  background-color: rgba(46, 173, 173, 0.2);
  border: 1px solid rgba(137,208,208, 0.2);
}

header #toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: rgba(137,208,208, 0.60);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header #toggle:before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}

header #toggle:after {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  transform: translateY(5px);
  transition: 0.2s;
}

header #toggle.active:before{
  transform: translateY(0px) rotate(45deg);
}

header #toggle.active:after{
  transform: translateY(0px) rotate(-45deg);
}

header #toggle.active {
  background:#292E33;
}

header #navbar.active {
  width: 0;
}



.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1102px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1153px;
  margin: 43px -13px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 746px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
  pointer-events: auto;
  width: 1122px;
  margin: -729px 0 60px auto;
}

.u-section-1 .u-image-1 {
  pointer-events: auto;
  background-image: url("../images/doador.png");
  background-position: 51.58% 100%;
  min-height: 935px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-layout-cell-3 {
  pointer-events: auto;
  min-height: 935px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 15px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  margin: 72px 66px 0 103px;
}

.u-section-1 .u-form-1 {
  height: 689px;
  margin: 72px 9px 0 30px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-2 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-3 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-4 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-5 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-6 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-7 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-8 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-9 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 608px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 940px;
    margin-top: -505px;
  }

  .u-section-1 .u-image-1 {
    min-height: 784px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 784px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 30px;
    margin-left: 53px;
    margin-right: 6px;
  }

  .u-section-1 .u-form-1 {
    height: 506px;
    width: 517px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 601px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 350px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 220px;
  }

  .u-section-1 .u-layout-wrap-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 390px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}