* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s;
  padding:  20px 100px;
  z-index: 1000;
  background-color: #fff;
  color: #292E33;
  box-shadow: 0 1px 3px -2px #9098a9;
}


header .logo::first-letter{
  color: #89d0ca;
}

header.sticky .logo,
header.sticky ul li a {
  color: black;
}

header .logo {
  position: relative;
  font-weight: 700;
  color: #89d0ca;
  text-decoration: none;
  font-size:2em;
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  justify-content: center;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: .5s;
}

header ul li .signup {
  width: 150px;
  border: 1px solid #89d0ca;
  border-radius: 8px;
  height: 40px;
  margin-left: 15px;
  font-weight: 700;
  font-size:0.95em;
  cursor: pointer;
  background-color: #fff;
  color: #89d0ca;
  transition: .5s;
  box-shadow: 0 1px 3px -2px #9098a9;
}

header ul li .login {
  background-color: #89d0ca;
  color: #fff;
  width: 150px;
  border: 1px solid #89d0ca;
  border-radius: 8px;
  height: 40px;
  margin-left: 15px;
  font-weight: 700;
  font-size:0.95em;
  cursor: pointer;
  color: #fff;
  transition: .5s;
  box-shadow: 0 1px 3px -2px #9098a9;
}

header ul li:hover .login{
  background-color: rgba(137,208,208, 0.60);
  border: 1px solid rgba(137,208,208, 0.60);
}

header ul li:hover .signup{
  background-color: rgba(46, 173, 173, 0.2);
  border: 1px solid rgba(137,208,208, 0.2);
}

.container {
  height: 100%;
  width: 100%;
  background-color: #89d0ca;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  height: 80vh;
  width: 95vw;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
  padding: 50px 40px 30px;
}


.content .row-topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #292E33;
  cursor: pointer;
}

.content .row-topo a{
  margin-left: 10px;
}

.select-location {
  display: flex;
  justify-content: center;
 
}

.select-location .location {
  margin: 50px 50px 20px;
}

.select-location .location select {
  width: 250px;
  height: 40px;
  box-shadow: 0 1px 3px -2px #9098a9;
  border: 1px solid #e8eaed;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
}

.select-location .location select::-webkit-scrollbar {
	display: none;
}

.list-students {
  height: 60%;
  width: 90vw;
  background-color: #fff;
  border: 1px solid #89d0ca;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: auto;
  padding: 0 40px 30px;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: -100%;
  display: block;
  transition: all .35s;
}

.modal {
  width: 70%;
  border-radius: 5px;
  margin: 6em auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.modal span {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin: 20px 30px;
  transition: all .35s;
}

.modal span:hover {
  color: rgb(66, 84, 101);
  transition: all .35s;
  cursor: pointer;
  transform: scale(1.5);
}

.container-modal {
  position: relative;
  width: 360px;
  height: 85vh;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  overflow: auto;
  font-family: 'PT Sans', sans-serif;
  background-color: #fff;
  border-radius: 8px;
  padding: 30px 30px;
}

.container-modal::-webkit-scrollbar {
	display: none;
}

.container-modal .information {
  margin: 30px 0;
}

.container-modal .content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  /* min-width: 480px; */
  width: 80%;
}

.content-table thead tr td {
  font-weight: 600;
}

.container-modal a {
  background-color: #292e33;
  color: #fff;
  cursor: pointer;
  font-size: 1.0em;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 500;
  transition: .5s;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 100px;
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
}

.container-modal a:hover {
  background-color: rgb(66, 84, 101);
}

.content-table {
  border-collapse: collapse;
  margin: 15px 0;
  font-size: 0.9em;
  /* min-width: 480px; */
  width: 80%;
  text-align: center;
}

.content-table tr td{
  height: 35px;
}

.list .content-table tr td{
  height: 15px;
}



.content-table button {
  background-color: #292e33;
  color: #fff;
  cursor: pointer;
  font-size: 1.0em;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 500;
  transition: .5s;
  font-weight: 700;
  border-radius: 8px;
  padding: 5px 20px;
  text-decoration: none;
  text-align: center;
}

.content-table button:hover {
  background-color: rgb(66, 84, 101);
}