* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
width: 100%;
height: 100%;
margin: 0;
padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.6s;
  padding:  15px 50px;
  z-index: 1000;
  background-color: #fff;
}

header.sticky {
    padding: -5px 100px;
    background-color: #fff;
    box-shadow: 0 1px 3px -2px #9098a9;
}

header.sticky .logo,
header.sticky ul li a {
  color: #292E33;
}

header .logo {
  position: relative;
  font-weight: 700;
  text-decoration: none;
  font-size:2em;
  letter-spacing: 0.3px;
  transition: 0.6s;
  color: #292E33;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

header .logo::first-letter{
    color: #89d0ca;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
  justify-content: center;
}

header ul li a{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: .5s;
  font-family: 'Poppins', sans-serif;
}

header ul li .signup {
  width: 150px;
  border: 1px solid #89d0ca;
  border-radius: 8px;
  height: 40px;
  margin-left: 15px;
  font-weight: 700;
  font-size:0.95em;
  cursor: pointer;
  background-color: #fff;
  color: #89d0ca;
  transition: .5s;
  box-shadow: 0 1px 3px -2px #9098a9;
}

header ul li .login {
  background-color: #89d0ca;
  color: #fff;
  width: 150px;
  border: 1px solid #89d0ca;
  border-radius: 8px;
  height: 40px;
  margin-left: 30px;
  font-weight: 700;
  font-size:0.95em;
  cursor: pointer;
  color: #fff;
  transition: .5s;
  box-shadow: 0 1px 3px -2px #9098a9;
}

header ul li:hover .login{
  background-color: rgba(137,208,208, 0.60);
  border: 1px solid rgba(137,208,208, 0.60);
}

header ul li:hover .signup{
  background-color: rgba(46, 173, 173, 0.2);
  border: 1px solid rgba(137,208,208, 0.2);
}


.container {
  height: 100%;
  width: 100%;
  background-color: #89d0ca;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.content {
  height: 80vh;
  width: 95vw;
  background-color: #fff;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-sizing: border-box;
  overflow: auto;
  padding: 50px 40px 30px;
  margin-top: 10px;
}

.content .row-topo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  color: #292E33;
  cursor: pointer;
}

.content .row-topo a{
  margin-left: 10px;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  /* min-width: 480px; */
  width: 80%;
}

.content-table thead tr {
  background-color: #89d0ca;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
  text-align: center;
  font-size: 1.5em;
}

.content-table .buttons {
  display:flex;
  align-items: center;
  justify-content: center;
}

.content-table td button{
  width: 30px; 
  height: 30px;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 50%;
  background-color: #89d0ca;
  font-weight: 700;
  font-size: 1.0em;
  padding:0;
  margin:0;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-table td input {
  border: none;
  outline: none;
  box-shadow: none;
  text-align: center;
  justify-content: center;
  font-size: 1.5em;
  width: 10%;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #89d0ca;
}
.content-table tbody tr {
  border-bottom: 2px solid #89d0ca;
}

.content form input[type="submit"] {
  
  background-color: #292e33;
  color: #fff;
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 500;
  transition: .5s;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 30px;
  padding: 5px 20px;
}

.content form input[type="submit"]:hover {
  background-color: rgb(66, 84, 101);
}