.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 849px;
}

.u-section-1 .u-layout-wrap-1 {
    width: 1153px;
    margin: 43px -13px 0 auto;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 746px;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px;
}

.u-section-1 .u-layout-wrap-2 {
    pointer-events: auto;
    width: 1153px;
    margin: -742px -13px 60px auto;
}

.u-section-1 .u-image-1 {
    pointer-events: auto;
    background-image: url("images/2628829_medium2000.jpg");
    background-position: 50% 50%;
    min-height: 742px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-1 .u-layout-cell-3 {
    pointer-events: auto;
    min-height: 742px;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px 0;
}

.u-section-1 .u-text-1 {
    font-size: 3.75rem;
    font-style: italic;
    margin: 30px 64px 0;
}

.u-section-1 .u-form-1 {
    height: 506px;
    width: 578px;
    margin: 30px auto 0;
}

.u-section-1 .u-label-1 {
    font-weight: 700;
}

.u-section-1 .u-form-group-2 {
    margin-left: 0;
}

.u-section-1 .u-label-2 {
    font-weight: 700;
}

.u-section-1 .u-label-3 {
    font-weight: 700;
}

.u-section-1 .u-form-group-4 {
    margin-left: 0;
}

.u-section-1 .u-label-4 {
    font-weight: 700;
}

.u-section-1 .u-form-group-5 {
    margin-left: 0;
}

.u-section-1 .u-label-5 {
    font-weight: 700;
}

.u-section-1 .u-form-group-6 {
    margin-left: 0;
}

.u-section-1 .u-label-6 {
    font-weight: 700;
}

.u-section-1 .u-form-group-7 {
    margin-left: 0;
}

.u-section-1 .u-label-7 {
    font-weight: 700;
}

.u-section-1 .u-form-group-8 {
    margin-left: 0;
}

.u-section-1 .u-label-8 {
    font-weight: 700;
}

.u-section-1 .u-form-group-9 {
    margin-left: 0;
}

.u-section-1 .u-label-9 {
    font-weight: 700;
}

.u-section-1 .u-form-group-10 {
    margin-left: 0;
}

.u-section-1 .u-label-10 {
    font-weight: 700;
}

.u-section-1 .u-form-group-11 {
    margin-left: 0;
}

.u-section-1 .u-label-11 {
    font-weight: 700;
}

.u-section-1 .u-form-group-12 {
    margin-left: 0;
}

.u-section-1 .u-label-12 {
    font-weight: 700;
}

.u-section-1 .u-btn-1 {
    padding: 0;
}

.u-section-1 .u-btn-2 {
    background-image: none;
    border-style: solid;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 559px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 940px;
        margin-right: 0;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 608px;
    }
    .u-section-1 .u-layout-wrap-2 {
        width: 940px;
        margin-top: -505px;
        margin-right: 0;
    }
    .u-section-1 .u-image-1 {
        min-height: 605px;
    }
    .u-section-1 .u-layout-cell-3 {
        min-height: 605px;
    }
    .u-section-1 .u-text-1 {
        margin-left: 5px;
        margin-right: 6px;
    }
    .u-section-1 .u-form-1 {
        width: 517px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 327px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 720px;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 466px;
    }
    .u-section-1 .u-layout-wrap-2 {
        width: 720px;
    }
    .u-section-1 .u-image-1 {
        min-height: 463px;
    }
    .u-section-1 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }
    .u-section-1 .u-layout-cell-3 {
        min-height: 100px;
    }
    .u-section-1 .u-text-1 {
        margin-left: 0;
        margin-right: 0;
    }
    .u-section-1 .u-form-1 {
        width: 396px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 809px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 540px;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 350px;
    }
    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .u-section-1 .u-layout-wrap-2 {
        width: 540px;
    }
    .u-section-1 .u-image-1 {
        min-height: 772px;
    }
    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 385px;
    }
    .u-section-1 .u-layout-wrap-1 {
        width: 340px;
    }
    .u-section-1 .u-layout-cell-1 {
        min-height: 220px;
    }
    .u-section-1 .u-layout-wrap-2 {
        width: 340px;
    }
    .u-section-1 .u-image-1 {
        min-height: 390px;
    }
    .u-section-1 .u-text-1 {
        font-size: 3rem;
    }
    .u-section-1 .u-form-1 {
        width: 340px;
    }
}