.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1102px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1122px;
  margin: 60px 0 60px auto;
}

.u-section-1 .u-image-1 {
  pointer-events: auto;
  background-image: url("images/aluno.png");
  background-position: 50% 50%;
  min-height: 935px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  pointer-events: auto;
  min-height: 935px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 15px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  margin: 72px 66px 0 103px;
}

.u-section-1 .u-form-1 {
  height: 689px;
  margin: 72px 9px 0 30px;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-1 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-2 {
  font-size: 0.75rem;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-3 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-4 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-5 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-6 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-7 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-8 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-9 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-10 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-10 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
}

.u-section-1 .u-label-11 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-input-11 {
  font-size: 0.75rem;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  font-weight: 700;
  font-size: 0.75rem;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-top: 284px;
  }

  .u-section-1 .u-image-1 {
    min-height: 784px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 784px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 30px;
    margin-left: 53px;
    margin-right: 6px;
  }

  .u-section-1 .u-form-1 {
    height: 506px;
    width: 517px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    min-height: 601px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    width: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 2522px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1002px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 1104px;
  }

  .u-section-1 .u-image-1 {
    min-height: 390px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}